<form #form="ngForm" (ngSubmit)="submit()" autocomplete="off" novalidate>

    <h1>New vehicle</h1>

    <p>{{ vehicle | json }}</p>

    <div class="form-group">
        <label for="make">Make</label>
        <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" #make="ngModel" required>
            <option value="">Select</option>
            <option *ngFor='let make of makes' value='{{ make.id }}'>{{ make.name}}</option>
        </select>
        <small class="text-danger" *ngIf="make.touched && !make.valid">This field is required</small>
    </div>

    <div class="form-group">
        <label for="model">Model</label>
        <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" #model="ngModel" required>
            <option value="">Select</option>
            <option *ngFor='let model of models' value='{{ model.id }}'>{{ model.name}}</option>
        </select>
        <small class="text-danger" *ngIf="model.touched && !model.valid">This field is required</small>
    </div>

    <h3>Is this vehicle registered?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" [value]="true" id="registered" name="registered" [(ngModel)]="vehicle.isRegistered">
        <label class="form-check-label" for="registered">Yes</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" [value]="false" id="notRegistered" name="registered" [(ngModel)]="vehicle.isRegistered">
        <label class="form-check-label" for="notRegistered">No</label>
    </div>

    <h3>Features</h3>
    <div *ngFor="let feature of features" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="feature{{ feature.id }}" (change)="onFeatureToggle(feature.id, $event)" [checked]="vehicle.features.includes(feature.id)">
        <label class="form-check-label" for="feature{{ feature.id }}">
            {{ feature.name }}
        </label>
    </div>

    <h3>Contact</h3>
    <div class="form-group">
        <label for="contactName">Name</label>
        <input type="text" id="contactName" class="form-control" name="contactName" [(ngModel)]="vehicle.contact.name" #contactName="ngModel">
        <small class="text-danger" *ngIf="contactName.touched && !contactName.valid">This field is required</small>
    </div>

    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input type="text" id="contactEmail" class="form-control" name="contactEmail" [(ngModel)]="vehicle.contact.email" #contactEmail="ngModel">
        <small class="text-danger" *ngIf="contactEmail.touched && !contactEmail.valid">This field is required</small>
    </div>

    <div class="form-group">
        <label for="contactPhone">Phone</label>
        <input type="text" id="contactPhone" class="form-control" name="contactPhone" [(ngModel)]="vehicle.contact.phone" #contactPhone="ngModel">
    </div>

    <button class="btn btn-primary" [class.disabled]="!form.valid">Save</button>
    <button class="btn btn-danger" *ngIf="vehicle.id" type="button" (click)='delete()'>Delete</button>

</form>