<div id='main-header'>
    <h1>Vehicles</h1>
</div>

<div class="form-group">
    <label for="make">Make</label>
    <select class="form-control" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
        <option value=""></option>
        <option *ngFor="let make of makes" value="{{ make.id }}">{{ make.name }}</option>
    </select>
    <button (click)="resetFilters()">Reset</button>
</div>

<div id='main-body'>
    <p>Total: {{ queryResult.totalVehicles }}</p>
    <ul>
        <li *ngFor="let item of queryResult.totalVehiclesPerMake">
            {{ item.name }} {{ item.vehicles }}
        </li>
    </ul>
    <ul>
        <li *ngFor="let vehicle of queryResult.items">
            {{ vehicle.make.name }}
            {{ vehicle.model.name }}
        </li>
    </ul>
</div>

<div id='main-footer'>
    <button mat-fab [routerLink]='["/vehicles/new"]'>Add</button>
</div>